@import url(/styles/colores.css);


.btn_whatsapp i{
    border-radius: 50%;
    font-size: 7rem;
    /* Cambiar el tamaño de la tipografia */
    color: green;
    /* Color del texto */
    background: var(--whitecolor);
    /* Color de fondo */
    cursor: pointer;
    position: fixed;
    bottom: 40px;
    right: 40px;
    padding: .5rem;
    transition: all 300ms ease 0ms;
    
    z-index: 999;
}

.btn_whatsapp i:hover{

    /* Color de fondo al pasar el cursor */
    
    transition: all 300ms ease 0ms;
    transform: translateY(-8px);
}

.shadow_black {
    box-shadow: 0px 8px 15px rgba(0, 0, 0, 0.3);
}

.shadow_red {
    box-shadow: 0px 15px 20px rgb(211, 6, 62);
}

.shadow_blue {
    box-shadow: 0px 15px 20px rgb(44, 60, 92);
}

.shadow_orange {
    box-shadow: 0px 15px 20px rgb(238, 112, 40);
}

.shadow_yellow {
    box-shadow: 0px 15px 20px rgb(252, 215, 8);
}

.shadow_green {
    box-shadow: 0px 15px 20px rgb(0, 159, 154);
}


@media only screen and (max-width: 600px) {
    .btn_whatsapp {
        font-size: 14px;
        bottom: 20px;
        right: 20px;
    }
}

@media (max-width:500px){
    
    .btn_whatsapp i{
        font-size: 6rem;
        right: 20px;
    }
}