@import url("colores.css");
@import url('https://fonts.googleapis.com/css2?family=Moulpali&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

:root {
    --azulmarino: #00304E;
    --indigo: #006db2;
    --darkorange: #FF8C00;
    --orangered: #FF4500;
    --plata: #BEBEBE;
    --azulvolteck: #253692;
    --azulvolteck2: #6f85c1;
    --rojo: #d3063e;
    --rojo2: #920c27;
    --verdeklintek: #009f9a;
    --verdeklintek2: #016e69;
    --amarillopretul: #FFCD00;
    --amarillopretul2: #E49B0F;
}

.section-foset,
.section-truper,
.section-pretul,
.section-hermex,
.section-fiero,
.section-volteck,
.section-klintek {
    height: auto;
    position: relative;
    padding: 0;
    margin: 0;
    background-size: cover;
    background-repeat: no-repeat;
    
}

.card-container {
    width: 100%;
    height: 100%;
    max-height: 100rem;
    min-height: 95rem;
    position: relative;
    margin: 0;
    padding: 0;
}

.card-container .card-wrapper {
    position: relative;
    width: 50%;
    height: auto;
    bottom: 50%;
    overflow-x: visible;
    transform: translateY(45%);
}

.card-wrapper .card-box {
    border-radius: 2rem;
    padding-left: 18rem;
    width: 100%;

}

.card-container .card-slide {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    height: auto;
    border-radius: 2rem;
    position: relative;
    overflow: visible;
}


.card-slide .circle-img {
    position: absolute;
    top: 50%;
    left: 0%;
    transform: translate(-50%, -50%);
}

.card-slide .circle-img img {

    border-radius: 15%;
    object-fit: cover;
    border: .9em solid transparent;
    outline: .6rem solid var(--whitecolor);
    width: 34rem;
    height: 34rem;
}

.card-slide .product-content {

    border-radius: 2rem;
    width: 100%;
    height: 50rem;
    top: 50%;
    left: 50%;
}

.product-content .logo-content {
    float: right;
    width: 30%;

}

.product-content .logo-content img {
    width: 100%;
    border-top-right-radius: 2rem;
    border-bottom-left-radius: 2rem;
    float: right;
    background-color: var(--whitecolor);
    padding: .8rem;
}

.product-content .product-description {
    display: block;
    align-items: center;
    text-align: center;
    position: relative;
    top: 40%;
    left: 60%;
    transform: translate(-50%, -50%);
    max-width: 35rem;
}

.product-description h1 {
    font-size: 2.5rem;
    font-weight: 600;
    color: var(--whitecolor);
    text-align: center;
}

.product-description h2 {
    font-size: 2.3rem;
    color: var(--plata);
    font-weight: 400;
    text-align: center;
}

.product-description p {
    font-size: 1.6rem;
    color: var(--plata);
    text-align: center;
}

.btn {
    position: relative;
    border: solid .2rem var(--whitecolor);
    border-radius: 2rem;
    padding: 0.7rem;
    letter-spacing: normal;
    background: transparent;
    margin: 0;
    top: 1.5rem;
    font-weight: 500;
}

.btn:hover {
    background-color: white;
    color: var(--textcolor);
}

.product-content .marcas-index {
    position: absolute;
    bottom: 2%;
    display: flex;
    left: 50%;
    transform: translate(-50%);
    border: .2rem solid var(--whitecolor);
    border-radius: 3rem;

    width: 98%;
    justify-content: center;

}

.product-content .marcas-index img {
    width: 12.5%;
    margin: 0 .7%;
}


/*------------------------------------------------------------------------------------------------------*/
.card-container .foset-slide {
    background: #053352;
}

.card-container .truper-slide {
    background: #531a05;
}

.card-container .volteck-slide {
    background: #05133d;
}

.card-container .hermex-slide {
    background: #700a1e;
}

.card-container .klintek-slide {
    background: #033d3a;
}

.card-container .pretul-slide {
    background: #af6f20;
}

/*----------------------------------------------------------------------------------------------*/

.mostrar {
    display: flex;
}

/*Diseño responsive de cards de productos según marcas*/

@media(max-width:1670px) {
    .card-container {
        width: 100%;
        height: 100%;
        max-height: 90rem;
        min-height: 85rem;
        position: relative;
        margin: 0;
        padding: 0;
        overflow-y: hidden;
    }

    .card-slide .circle-img img {
        width: 30rem;
        height: 30rem;
        border: .9em solid var(--shadow-color);
        outline: .6rem solid var(--whitecolor);
        object-fit: cover;
    }

    .card-slide .product-content {

        border-radius: 2rem;
        width: 100%;
        height: 45rem;
        top: 50%;
        left: 50%;
    }

}

@media (max-width:1600px) {
    .product-description h1 {
        font-size: 2.2rem;

    }

    .product-description h2 {
        font-size: 2rem;

    }

    .product-description p {
        font-size: 1.3rem;

    }
}

@media(max-width:1500px) {

    .card-container {
        width: 100%;
        height: 100%;
        max-height: 85rem;
        min-height: 80rem;
        position: relative;
        margin: 0;
        padding: 0;

    }

    .card-slide .circle-img img {
        width: 25rem;
        height: 25rem;

        object-fit: cover;

    }

    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 15rem;
    }


    .product-description h1 {
        font-size: 2.1rem;
        font-weight: 600;

        text-align: center;
        position: relative;
    }

    .product-description h2 {
        font-size: 1.8rem;

        font-weight: 400;
        text-align: center;
    }




}

@media(max-width:1300px) {
    .card-slide .circle-img img {
        width: 23rem;
        height: 23rem;

        object-fit: cover;

    }

    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 14rem;
    }

    .card-slide .product-content {

        border-radius: 2rem;
        width: 100%;
        height: 40rem;
        top: 50%;
        left: 50%;
    }

    .product-content .product-description {
        align-items: center;
        position: relative;
        top: 40%;
        left: 60%;
        transform: translate(-50%, -50%);
        max-width: 35rem;
    }


    .product-description h1 {
        font-size: 2.1rem;
        font-weight: 600;

        text-align: center;
        position: relative;
    }

    .product-description h2 {
        font-size: 1.9rem;

        font-weight: 400;
        text-align: center;
    }

}

@media(max-width:1250px) {

    .product-description h1 {
        font-size: 2.1rem;
        font-weight: 600;

        text-align: center;
        position: relative;
    }


    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 13.5rem;
    }



    .product-description h2 {
        font-size: 1.9rem;

        font-weight: 400;
        text-align: center;
    }




}

@media(max-width:1200px) {
    .card-container {
        width: 100%;
        height: 80rem;
        position: relative;
        margin: 0;
        padding: 0;
    }



    .card-container .card-wrapper {
        position: relative;
        width: 60%;
        height: 40rem;
        top: 50%;
        transform: translateY(-50%);

    }

    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 13rem;
    }


    .card-container .card-slide {
        height: 40rem;
    }
}

@media(max-width:1160px) {

    .card-slide .circle-img img {
        width: 18rem;
        height: 18rem;
        border: .6em solid var(--shadow-color);
        outline: .4rem solid var(--whitecolor);
        box-shadow: 0 .5rem .5rem var(--shadow-color);

        object-fit: cover;

    }

    .card-container {
        width: 100%;
        height: 70rem;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .card-container .card-wrapper {
        position: relative;
        width: 60%;
        height: 35rem;
        top: 50%;
        transform: translateY(-50%);

    }

    .card-container .card-slide {
        height: 35rem;
    }

    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 16%;
    }
}



@media (max-width:1050px) {

    .product-description h1 {
        font-size: 1.7rem;
        font-weight: 600;

        text-align: center;
        position: relative;
    }


    .product-description h2 {
        font-size: 1.6rem;

        font-weight: 400;
        text-align: center;
    }



    .btn {
        position: relative;
        border: solid .2rem var(--whitecolor);
        border-radius: 2rem;
        padding: 0.7rem;
        letter-spacing: normal;
        background: transparent;
        margin: 0;
        top: 1.5rem;
        font-weight: 500;
        font-size: 1.5rem;
    }


    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 18%;
    }
}

@media(max-width:990px) {
    .card-slide .circle-img img {
        width: 17rem;
        height: 17rem;
        object-fit: cover;
    }

    .card-container {
        width: 100%;
        height: 70rem;
        position: relative;
        margin: 0;
        padding: 0;
    }

    .card-container .card-wrapper {
        position: relative;
        width: 60%;
        height: 30rem;
        top: 50%;
        transform: translateY(-50%);
    }

    .card-container .card-slide {
        height: 30rem;
    }

    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-left: 16%;
    }

    .product-description h1 {
        font-size: 1.9rem;
        font-weight: 600;
        color: var(--plata);
        text-align: center;
        position: relative;
    }


    .product-description h2 {
        font-size: 1.8rem;
        color: var(--plata);
        font-weight: 400;
        text-align: center;
    }

    .product-description p {
        font-size: 1.2rem;
        color: var(--plata);
    }

    .section-foset,
    .section-truper,
    .section-pretul,
    .section-hermex,
    .section-fiero,
    .section-volteck,
    .section-klintek {
        
        background-position: center;
        background-size: contain;
        background-repeat: no-repeat;
    }
}

@media(max-width:840px) {
    .card-slide .circle-img img {
        width: 15rem;
        height: 15rem;

        object-fit: cover;

    }

    .product-description h1 {
        font-size: 1.5rem;
        font-weight: 600;
        color: var(--plata);
        text-align: center;
        position: relative;
    }

    .card-container .card-wrapper {
        position: relative;
        width: 60%;
        height: auto;
        top: 50%;
        transform: translateY(-50%);

    }

    .card-container .card-slide {
        height: 28rem;
    }


    .product-description h2 {
        font-size: 1.6rem;
        color: var(--plata);
        font-weight: 400;
        text-align: center;
    }

    .product-description p {
        font-weight: 500;
        font-size: 1rem;
        color: var(--plata);
    }

    .btn {
        position: relative;
        border: solid .2rem var(--whitecolor);
        border-radius: 2rem;
        padding: 0.7rem;
        letter-spacing: normal;
        background: transparent;
        margin: 0;
        top: 1.5rem;
        font-weight: 500;
        font-size: 1.3rem;
    }

}

@media(max-width:800px) {
    .card-slide .circle-img {
        position: absolute;
        top: 0%;
        left: 50%;
        transform: translate(-50%, -50%);

    }

    .card-slide .circle-img img {
        width: 15rem;
        height: 15rem;

        object-fit: cover;

    }

    .product-content .product-description {
        align-items: center;
        position: relative;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 35rem;
    }

    .product-content .logo-content {
        right: 0px;
        bottom: 0px;
        position: absolute;

    }

    .product-content .logo-content img {
        object-fit: contain;
        border-top-right-radius: 0px;
        border-top-left-radius: 2rem;
        border-bottom-right-radius: 2rem;
        border-bottom-left-radius: 0rem;
    }

    .card-wrapper {
        margin-left: 4%;
    }

    .card-wrapper .card-box {
        border-radius: 2rem;
        padding-top: 22%;
        padding-left: 0;
    }

    .product-content .marcas-index {
        display: none;
    }

    .btn {
        position: relative;
        border: solid .2rem var(--whitecolor);
        border-radius: 2rem;
        padding: 0.7rem;
        letter-spacing: normal;
        background: transparent;
        margin: 0;
        top: 1.5rem;
        font-weight: 500;
        font-size: 1.2rem;
    }
}

@media (max-width:700px) {
    .card-container {
        width: 100%;
        height: 70rem;
        position: relative;
        margin: 0;
        padding: 0;
    }


}

@media(max-width:600px) {
    .card-slide .circle-img img {
        width: 13rem;
        height: 13rem;
        object-fit: cover;

    }

    .card-container {
        bottom: 0;
        position: relative;
        align-items: center;
        
    }

    .card-container .card-wrapper {
        left: 50%;
        top: 60%;
        transform: translate(-50%, -50%);
        width: 85%;
        margin: 0;
    }

}

@media(max-width:500px) {
    .card-slide .circle-img img {
        width: 15rem;
        height: 15rem;
        object-fit: cover;
    }

    .product-description h1 {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--plata);
        text-align: center;
        position: relative;
    }

    .product-description h2 {
        font-size: 1.6rem;
        color: var(--plata);
        font-weight: 400;
        text-align: center;
    }

    .product-description p {
        font-weight: 500;
        font-size: 1.1rem;
        color: var(--plata);
    }

    .card-container .card-wrapper {
        position: relative;
        width: 90%;
        height: auto;
    }

    .card-wrapper {
        margin-left: 3%;
    }
}

@media (max-width:450px) {

    .section-foset,
    .section-truper,
    .section-pretul,
    .section-hermex,
    .section-fiero,
    .section-volteck,
    .section-klintek {
        top: 5rem;
    }
}

@media (max-width:350px) {

    .section-foset,
    .section-truper,
    .section-pretul,
    .section-hermex,
    .section-fiero,
    .section-volteck,
    .section-klintek {
        top: 8rem;
    }
}