@import url(/styles/colores.css);

* {
    scrollbar-gutter: stable;
}

body {
    background-image: linear-gradient(to top, #080531, #0d204f, #13386f, #115290, #006db2);
}

.section-cat h1 {
    position: relative;
    font-size: 3.1rem;
    text-align: center;
    font-weight: 600;
    color: var(--textcolor);
    top: -7rem;
    filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    background: var(--whitecolor);
    border-radius: 2rem;
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
}

.section-cat {
    top: 7rem;
    position: relative;
    min-height: 100vh;
    padding: 0;
    margin-top: 5%;
    height: auto;
}

.cat-container {
    justify-content: center;
    width: 100%;
    row-gap: 8rem;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 24% 24% 24% 24%;
    overflow: hidden;
    height: auto;
    padding: 1rem;
}

.cat-box {

    position: relative;
    padding: 1rem;
    height: 40rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    display: block;
    background: var(--whitecolor);
}

.cat-box:hover {
    transition-duration: 500ms;
    -webkit-box-shadow: -1px 0px 9px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 9px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 9px 7px rgba(0, 0, 0, 0.75);
}

.cat-box .marca-container {
    position: absolute;
    width: 10rem;
    right: 0;
    padding-right: 1rem;
    z-index: 10;

}

.cat-box .marca-container img {
    width: 100%;
}

.cat-box .img-container {
    height: 55%;
    align-items: center;

}

.cat-box .img-container img {
    width: 20rem;
    height: 20rem;
    align-items: center;
    object-fit: contain;
    position: relative;
}

.info-container {
    position: relative;
    width: 100%;
    display: block;
    bottom: -.5%;
    height: 45%;
    border-radius: 2rem;
    padding: 1rem;
    justify-content: center;
    text-align: center;
}

.info-container h2 {

    font-size: 2.2rem;
    font-weight: 600;
    color: var(--textcolor);
}

.cat-box .info-container a {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--textcolor);
    border-radius: 2rem;
    padding: .5rem;
    bottom: 10%;
    background: var(--whitecolor);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: .3s ease;
    border: .2rem solid var(--textcolor);
}

.info-container a:hover {
    background: var(--textcolor);
    color: var(--whitecolor);
    transition: .3s ease;
    border: .2rem solid var(--whitecolor);
}

/*Colores por marca*/

.hermex {
    background: var(--rojo);
}

.yale {
    background: var(--amarillopretul);
}

.volteck {
    background: var(--azulvolteck);
}

.fiero {
    background: var(--rojo);
}

.truper {
    background: var(--naranjatruper);
    border: solid var(--naranjatruper);
}

.pretul {
    background: var(--textcolor);
}

.klintek {
    background: var(--verdeklintek);
}

.foset {
    background: var(--azulfoset);
}

.rugo {
    background: var(--azulrugo);
}

/*Responsive de productos de una categoría*/

@media(max-width:1440px) {
    .section-cat h1 {
        font-size: 2.5rem;
    }

    .info-container h2 {
        font-size: 2rem;
        font-weight: 600;
        color: var(--textcolor);
    }


    .cat-box .info-container a {
        font-size: 1.6rem;
        font-weight: 500;
        color: var(--textcolor);
        bottom: 1.5rem;

    }
}

@media (max-width:1366px) {
    .cat-container {
        justify-content: center;
        width: 100%;
        row-gap: 8rem;
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 30% 30% 30%;
        overflow: hidden;
        height: auto;
        padding: 1rem;
    }

    .section-cat h1 {
        
        top: -5rem;
        
    }
    
}

@media(max-width:1160px) {
    .section-cat h1 {
        font-size: 2rem;
        top: -4rem;
    }

    

    .info-container h2 {
        font-size: 1.8rem;
        font-weight: 600;
        color: var(--textcolor);
    }


    .cat-box .info-container a {
        font-size: 1.4rem;
        font-weight: 500;

        color: var(--textcolor);
        bottom: 1rem;

    }

    .cat-box .marca-container {
        position: absolute;
        width: 8rem;
        right: 0;
        padding-right: 1rem;
        z-index: 10;
    }
}

@media (max-width:900px) {

    .section-cat h1 {
        
        top: -3rem;
    }

    .info-container h2 {
        font-size: 1.7rem;
        font-weight: 600;
        color: var(--textcolor);
    }

    .cat-box .info-container a {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--textcolor);
        bottom: .8rem;

    }
}

@media (max-width:800px) {

    .section-cat h1 {
        
        top: -2rem;
    }

    .cat-box .marca-container {
        position: absolute;
        width: 6.5rem;
        right: 0;
        padding-right: 1rem;
        z-index: 10;
    }

    .info-container h2 {
        font-size: 1.6rem;
        font-weight: 550;
        color: var(--textcolor);
    }

    .cat-box .info-container a {
        font-size: 1.3rem;
        font-weight: 500;
        color: var(--textcolor);
        bottom: .5rem;

    }
}

@media (max-width:700px) {
    .section-cat h1 {
        
        top: -1rem;
    }

    .cat-container {
        justify-content: center;
        width: 100%;
        row-gap: 8rem;
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 45% 45%;
        overflow: hidden;
        height: auto;
        padding: 1rem;
    }

    .info-container h2 {
        font-size: 1.8rem;
        font-weight: 550;
        color: var(--textcolor);
    }

    .cat-box .info-container a {
        font-size: 1.5rem;
        font-weight: 500;
        color: var(--textcolor);
        bottom: .4rem;

    }
}

@media(max-width:600px) {

    .cat-box {
        position: relative;
        padding: 1rem;
        height: 35rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 2rem;
        display: block;
    }

    .cat-box .img-container img {
        width: 15rem;
        height: 15rem;
        align-items: center;
        object-fit: cover;
        position: relative;
    }

    .info-container h2 {
        font-size: 1.5rem;
        font-weight: 550;
        color: var(--textcolor);
    }

    .cat-box .info-container a {
        font-size: 1.2rem;
        font-weight: 500;
        color: var(--textcolor);
        bottom: .3rem;

    }

    .info-container {
        position: relative;
        width: 100%;
        display: block;
        bottom: -.5%;
        height: 45%;
        border-radius: 2rem;
        padding: 1rem;
        justify-content: center;
        text-align: center;
    }
}

@media(max-width:500px){
    .info-container h2 {
        font-size: 1.4rem;
        
    }

    .cat-box .info-container a {
        font-size: 1.1rem;
        

    }
}

@media(max-width:480px) {
    .section-cat h1 {
        top: -.5rem;
    }

    .info-container h2 {
        font-size: 1.3rem;
        
    }

}

@media(max-width:400px){
    .info-container h2 {
        font-size: 1.2rem;
        
    }

    .cat-box .info-container a {
        font-size: .8rem;
        font-weight: 550;
        
    }
}

@media(max-width:375px) {
    .section-cat {
        margin-top: 5%;
    }

    .cat-container {
        justify-content: center;
        width: 100%;
        row-gap: 3rem;
        column-gap: 2rem;
        display: grid;
        grid-template-columns: 95%;
        overflow: hidden;
        height: auto;
        padding: 1rem;
    }

    .cat-box {
        position: relative;
        padding: 1rem;
        height: 11rem;
        text-align: center;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 2rem;
        display: flex;
    }

    .cat-box .marca-container {
        display: none;
    }

    .cat-box .img-container img {
        width: 8rem;
        height: 8rem;
        align-items: center;
        object-fit: cover;
        position: relative;
    }

    .info-container{
        padding: 0;
    }

    .info-container h2 {
        width: 100%;
        font-size: 1rem;
        font-weight: 500;
        color: var(--textcolor);
        margin: 0;
        
        
    }

    .cat-box .info-container a {
        font-size: .9rem;
        font-weight: 550;
        color: var(--textcolor);
        bottom: .2rem;
    }

    .info-container {
        position: relative;
        width: 65%;
        display: block;
        bottom: -.5%;
        height: 100%;
        border-radius: 2rem;
        padding: .8rem;
        justify-content: center;
        text-align: center;
        right: -10%;
        top: .5rem;
    }
}

@media (max-width:320px) {

    .section-cat {
        margin-top: 8%;
    }

    .cat-container {
        bottom: 2rem;
    }

    .info-container {
        right: -7%;
    }
}