@import url(/styles/colores.css);

html {
    scroll-behavior: smooth;
    scroll-padding-top: 18%;
}


.ocultar {
    display: none;
}


.seleccion {
    background-color: var(--secondarycolor);
    color: var(--whitecolor);
    border: .1rem solid var(--secondarycolor);
    font-weight: 500;
    transition: .3s ease;

}


section {
    margin: 0;
    top: 0;
    height: auto;

}


.categoria-section {

    position: relative;
    margin-top: 10%;
    width: 100%;
    padding: 0;
    justify-content: center;
    top: 15%;
    bottom: 10%;


}

.categorias-tags-container {
    width: 100%;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    column-gap: 1rem;
    row-gap: 1rem;
    padding-left: 1rem;
}

.categoria-tag {
    font-size: 1.6rem;
    font-weight: 400;
    color: var(--textcolor);
    border-radius: 1.2rem;
    border: .1rem solid var(--secondarycolor);
    padding: .2rem .5rem;
    position: static;
    cursor: pointer;
    text-align: center;
    justify-content: center;
    transition: .3s ease-in;
}

.categoria-tag:hover {
    background: var(--secondarycolor);
    color: var(--whitecolor);
    transition: .3s ease-in;
}

.seleccion {
    background-color: var(--secondarycolor);
    color: var(--whitecolor);
    border: .1rem solid var(--secondarycolor);
    font-weight: 500;
    transition: .3s ease;
}

/*
.categoria-section h1 {
    position: relative;
    font-size: 3.1rem;
    text-align: center;
    font-weight: 600;
    color: var(--textcolor);
    top: -7rem;
    box-shadow:rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    background: var(--whitecolor);
    border-radius: 2rem;
    
}

.categoria-section {
    height: auto;
    position: relative;
    margin-top: 13%;
    padding: 2rem 7% 1rem;
    
}

.categoria-container {
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns:20% 20% 20% 20% 20% ;
    column-gap: 1.2rem;
    row-gap: 4rem;
    justify-content: center;
    

}

.categoria {
    background: var(--whitecolor);
    width: auto;
    height: 10rem;
    justify-content: center;
    display: grid;
    grid-template-columns: 40% 60%;
    border-radius: 2rem;
    transition: .3s ease;
    position: relative;
    box-shadow: rgb(24, 24, 24) 0px 20px 30px -10px;
    
}

.categoria:hover {
    transition: .1s ease;
    background: #d8d8d8;
}

.categoria:hover img {
    transform: scale(1.1);
}

.icono-box {
    position: relative;
    text-align: start;
    justify-content: center;
    align-items: center;
    
}

.icono-box img {
    object-fit: cover;
    width: 7rem;
    padding: 1rem;
    transition: .5s ease;
    border-radius: 2rem;
}

.descripcion-categoria {
    position: relative;
    text-align: top;
    top: auto;
    width: auto;
    height: auto;
}

.descripcion-categoria h2 {
    font-size: 1.5rem;
    color: var(--textcolor);
    font-weight: 600;
    cursor: pointer;
    margin: 0;
    padding: 0;
    border: solid red;
}
*/

/**Estilos de las secciones por categorías**/

.section-cat {

    position: relative;
    min-height: 100vh;
    padding: 0;

    height: auto;

}

.cat-container {
    justify-content: center;
    width: 100%;
    row-gap: 3rem;
    column-gap: 2rem;
    display: grid;
    grid-template-columns: 15% 15% 15% 15% 15% 15%;
    height: auto;
    padding: 1rem;

}

.cat-box {
    position: relative;
    padding: .5rem;
    height: 30rem;
    text-align: center;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-radius: 2rem;
    display: grid;
    grid-template-rows: 65% 35%;
    background: var(--whitecolor);
    transition: .5s ease-out;

}

.cat-box:hover {
    transition: .5s ease-out;
    -webkit-box-shadow: -1px 0px 9px 7px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: -1px 0px 9px 7px rgba(0, 0, 0, 0.75);
    box-shadow: -1px 0px 9px 7px rgba(0, 0, 0, 0.75);
}

.cat-box .marca-container {
    position: absolute;
    width: 7rem;
    right: 0;
    padding: .3rem .3rem 0 0;
    z-index: 10;

}

.cat-box .marca-container img {
    width: 100%;

}

.cat-box .img-container {
    height: 100%;
    align-items: center;

}

.cat-box .img-container img {
    width: 20rem;
    height: 20rem;
    align-items: center;
    object-fit: contain;
    position: relative;
}

.info-container {
    position: relative;
    width: 100%;
    display: grid;
    grid-template-rows: 70% 25%;
    bottom: -5;
    height: 100%;
    border-radius: 2rem;
    padding: .35rem;
    justify-content: center;
    text-align: center;

}

.cat-box .info-container h2 {

    font-size: 1.5rem;
    font-weight: 600;
    color: var(--textcolor);
}

.cat-box .info-container a {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--textcolor);
    border-radius: 2rem;
    padding: .5rem;
    bottom: 10%;
    background: var(--whitecolor);
    left: 50%;
    transform: translateX(-50%);
    position: absolute;
    transition: .3s ease;
    border: .1rem solid var(--textcolor);
}

.info-container a:hover {
    background: var(--textcolor);
    color: var(--whitecolor);
    transition: .3s ease;
    border: .2rem solid var(--whitecolor);
}


/*Responsive de pagina de categoría*/

@media (max-width:1660px) {
    .categoria-section {
        margin-top: 11%;
    }

    html {

        scroll-padding-top: 22%;
    }

}

@media (max-width:1600px) {
    .categoria-section {
        margin-top: 12%;
    }

    .cat-container {
        grid-template-columns: 18% 18% 18% 18% 18%;
    }

}

@media(max-width:1440px) {
    .categoria-section h1 {
        position: relative;
        font-size: 2.5rem;
        text-align: center;
        font-weight: 600;
        color: var(--textcolor);
        top: -6rem;
    }

}

@media (max-width:1366px) {

    .categoria-section {

        margin-top: 13%;


    }

    .categoria-section h1 {
        position: relative;
        font-size: 2.3rem;
        text-align: center;
        font-weight: 600;
        color: var(--textcolor);
        top: -6rem;
    }


}

@media (max-width:1300px) {
    .categoria-section {
        margin-top: 14%;
    }

    .cat-container {
        grid-template-columns: 22% 22% 22% 22%;
    }
}

@media (max-width:1200px) {
    .categoria-section {
        margin-top: 15%;
    }

    .categoria-tag {
        font-size: 1.4rem;
    }

}



@media(max-width:1160px) {
    .categoria-section h1 {
        font-size: 1.8rem;
        font-weight: 550;
    }

    .descripcion-categoria h2 {
        font-size: 1.8rem;
    }
}

@media (max-width:1100px) {
    .categoria-section {

        margin-top: 16%;


    }
}

@media (max-width:1000px) {
    .categoria-section {

        margin-top: 18%;


    }

    .cat-container {
        grid-template-columns: 30% 30% 30%;
    }
}

@media(max-width:900px) {

    .categoria-section {

        margin-top: 19%;


    }

    .cat-box .info-container h2 {

        font-size: 1.3rem;

    }

    .cat-box .info-container a {
        font-size: 1.3rem;
    }

    @media (max-width:840px) {
        .categoria-section {
            margin-top: 20%;
        }

        .categoria-tag {
            font-size: 1.2rem;
        }
    }

    @media(max-width:800px) {
        html {

            scroll-padding-top: 16%;
        }

        .categoria-section {
            margin-top: 16%;
        }

        .descripcion-categoria h2 {
            font-size: 1.5rem;
        }
    }

    @media (max-width:720px) {
        .categoria-section {
            margin-top: 18%;

        }

        .categoria-container {
            text-align: center;
            justify-content: center;
            display: grid;
            width: 100%;
            height: auto;
            grid-template-columns: 30% 30% 30%;
            column-gap: 1.5rem;
            row-gap: 6rem;

        }

        .descripcion-categoria {
            padding: 1rem;
        }

        .descripcion-categoria h2 {
            font-size: 1.4rem;
        }
    }

    @media (max-width:650px) {
        .cat-container {
            grid-template-columns: 45% 45%;
        }

        .categoria-section {
            margin-top: 21%;

        }
    }

    @media (max-width:600px) {
        .categoria-section {
            margin-top: 23%;

        }
    }

    @media(max-width:540px) {
        .categoria-section {
            margin-top: 25%;

        }

        .categoria-container {
            text-align: center;
            justify-content: center;
            display: grid;
            width: 100%;
            height: auto;
            grid-template-columns: 50% 50%;
            column-gap: 1.5rem;
            row-gap: 6rem;

        }

        .categoria {

            width: auto;
            height: 11rem;
            justify-content: center;
            display: flex;
            border-radius: 2rem;
            transition: .3s ease;
            position: relative;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }

        .descripcion-categoria {
            top: 3.5rem;
        }

        .descripcion-categoria h2 {
            font-size: 1.2rem;
        }
    }

    @media (max-width:500px) {
        .categoria-section {
            margin-top: 26%;

        }
    }

    @media (max-width:450px) {
        .categoria-section {
            margin-top: 29%;
        }

        .cat-box .img-container img {
            width: 17rem;
            height: 17rem;
            align-items: center;
            object-fit: contain;
            position: relative;
        }

        .cat-box .info-container h2 {

            font-size: 1.1rem;

        }

        .cat-box .info-container a {
            font-size: 1.1rem;
        }

    }

    @media(max-width:425px) {

        .categoria-section {
            margin-top: 30%;

        }

        .categoria-container {
            text-align: center;
            justify-content: center;
            display: grid;
            width: 100%;
            height: auto;
            grid-template-columns: 90%;
            column-gap: 1.5rem;
            row-gap: 3rem;
        }

        .categoria-section h1 {
            font-size: 1.6rem;
        }

        .categoria .icono-box {
            width: 10rem;
            height: 10rem;
            border: solid transparent;
            position: relative;
            margin: 0;
            padding: 0;
            left: -2rem;
            top: -2%;
        }

        .descripcion-categoria {
            top: 10%;
            width: 10rem;
            height: 7rem;
        }

        .descripcion-categoria h2 {
            font-size: 1.3rem;
        }

        .categoria .icono-box img {
            width: 10rem;
            object-fit: cover;
            left: 1rem;
            transition: .5s ease;
            border-radius: 2rem;
        }

    }

    @media(max-width:400px) {

        .cat-container {
            grid-template-columns: 75%;
        }

        .categoria-section {
            margin-top: 33%;

        }
    }

    @media(max-width:375px) {

        .categoria-section {
            margin-top: 34%;

        }

        

        .categoria {
            width: auto;
            height: 8.5rem;
            justify-content: center;
            display: flex;
            border-radius: 2rem;
            transition: .3s ease;
            position: relative;
            box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
        }
    }

    @media(max-width:350px) {

        .categoria-section {
            margin-top: 36%;

        }
        .cat-container {
            grid-template-columns: 80%;
        }
    }

    @media (max-width:320px) {
        .categoria-section {
            margin-top: 40%;

        }
        .cat-container {
            grid-template-columns: 85%;
        }
    }
}