@import url('https://fonts.googleapis.com/css2?family=Moulpali&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');

@import url(/styles/colores.css);


* {
    font-family: 'Oswald', sans-serif;
    
}

section {
    margin-top: -2rem;

}

h1{
    font-weight: 400;
    font-size: 1.8rem;
}

.detalle-container {
    position: relative;
    display: flex;
    padding: 1.5rem;
    width: auto;
    height: auto;
    left: 50%;
    transform: translateX(-50%);
}

.img-container {
    width: 55%;
    height: auto;
    background: var(--plata);
    border-top-left-radius: 2rem;
    border-bottom-left-radius: 2rem;
    overflow: visible;
}

.info-container {
    width: 45%;
    height: 75rem;
    background: var(--plata);
    border-top-right-radius: 2rem;
    border-bottom-right-radius: 2rem;
    position: relative;
    padding-top: 1.3rem;
    padding-bottom: 1.3rem;
}

.info-container .info {
    align-items: center;
    display: block;
    position: relative;
}

.info-container h1 {
    font-weight: 400;
    font-size: 3rem;
    text-align: center;
    color: var(--textcolor);
}


.info-container ul li {
    font-size: 1.9rem;
    text-align: left;
    position: relative;
    left: 10%;
    color: var(--textcolor);
}

.info-container .pdf-container {
    padding-top: 1rem;
    display: flex;
    position: relative;
    justify-content: space-around;

    text-align: center;
    top: .5rem;
}

.pdf-container a {
    background: var(--alternativecolor);
    border-radius: 2rem;
    padding: 1rem;
    color: var(--whitecolor);
    align-items: center;
    display: flex;
    transition: .5s ease-out;
}

.pdf-container a:hover{
    background: var(--secondarycolor);
    transition: .5s ease-out;
}

.pdf-container a i {
    align-items: start;
    font-size: 4.3rem;
}

.pdf-container a h3 {
    font-size: 1.5rem;
    font-weight: 500;
    color: var(--whitecolor);
}

.info-container .img-info {
    margin: 0;
    position: absolute;
    bottom: 0;
    display: flex;
    height: auto;
}

.info-container .img-info img {
    width: 50%;

}

.info-container .img-info img:nth-child(1) {
    border-bottom: .2rem solid var(--plata);
}

.info-container .img-info img:nth-child(2) {
    border-bottom-right-radius: 2rem;
    border-right: .2rem solid var(--plata);
    border-bottom: .2rem solid var(--plata);
}

/*---------------------------------------------------------------------------------------*/

.marca-container {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

.marca-container img {
    width: 20rem;
}

.marca-container h2 {
    color: var(--textcolor);
}

.img-box {
    position: relative;
    width: 100%;
    display: flex;
    top: 5rem;

}

.img-box .img-slide {

    width: 100%;
    height: auto;
    overflow-y: visible;
    text-align: center;
}

.img-container .img-slide img {
    width: 50%;

    object-fit: cover;
    border-radius: 2rem;
    transition: 1.25s ease;
    -webkit-transition: all .9s ease;
    /* Safari y Chrome */
    -moz-transition: all .9s ease;
    /* Firefox */
    -o-transition: all .9s ease;
    /* IE 9 */
    -ms-transition: all .9s ease;
    /* Opera */
}

.img-slide img:hover {
    -webkit-transform: scale(1.3);
    -moz-transform: scale(1.3);
    -ms-transform: scale(1.3);
    -o-transform: scale(1.3);
    transform: scale(1.3);
    z-index: 1000;

    border-radius: 2rem;
}


.img-swiper{
    overflow: visible;
}

.img-swiper .swiper-button-next {
    right: 4rem;

    position: absolute;
    color: var(--whitecolor);
}

.img-swiper .swiper-button-prev {
    left: 4rem;

    position: absolute;
    color: var(--whitecolor);
}

.img-swiper .swiper-pagination {
    position: fixed;
    bottom: 50rem;
}

.img-swiper .swiper-pagination-bullet {
    background: var(--orangered);
}

.img-swiper.swiper-pagination-bullet-active {
    background: var(--orangecolor);
}

/*+++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++++*/

.productos-relacionados{
    border-radius: 2rem;
    border: .3rem solid var(--plata);
    width: auto;
    padding: 1rem;
    left: 50%;
    position: relative;
    transform: translateX(-50%);
}

.productos-relacionados .relacionados-container{
    display: flex;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    justify-content: space-evenly;
    width: auto;
}

.productos-relacionados .img-card{
    text-align: center;

    padding: .8rem;
}

.productos-relacionados .img-card img{
    width: 15rem;

}

.productos-relacionados .img-card h2{
    font-size: 1.8rem;
    color: var(--textcolor);
}

.productos-relacionados .img-card .relacionados-info{
    text-align: center;
}
/*------------------------------------------------------------------------------------------------*/

.detalle-producto .mas_info-container{
    display: flex;
    width: 100%;
}

.detalle-producto .specs-container{
    display: block;
    width: 50%;
    padding-bottom: 1rem;
}

.specs-container .specs-header{
    display: flex;
    width: 95%;
    position: relative;
    justify-content: space-between;
    transition: .5s ease;
    padding-left: 1rem;
    
}

.specs-container .specs-header:hover{
    background: var(--alternativecolor);
    transition: .5s ease;
    color: var(--whitecolor);
    cursor: pointer;
    
}

.specs-container .specs-header h1{
    font-size: 2.2rem;
    padding-top: .8rem;
    position: relative;
    font-weight: 500;
    color: var(--textcolor);
}

.specs-container .specs-header a{
    right: 10rem;
}

.specs-container .specs-header i{
    font-size: 5rem;
    color: var(--textcolor);
    position: relative;
    transition: .5s ease;
}

.specs-container .specs-content{
    transition: .5s ease;
}

.specs-container .specs{
    width: 90%;
    display: flex;
    padding-right: 2rem;
    padding-left: 2rem;
    justify-content: space-between;
    height: 5.5rem;
    border-bottom: .2rem solid var(--plata);
    align-items: center;
}

.specs-container .specs h1{
    font-size: 1.8rem;
    font-weight: 600;
}

.specs-container .specs h2{
    font-size: 1.8rem;
    color: var(--textcolor);
}

.ocultar{
    display: none;
    
}

.active{
    background: var(--orangered);
    
}

.rotacion{
    transform: rotate(180deg);
    transition: .3s ease;
}