@import url("colores.css");

#menu-icon {
    font-size: 3.6rem;
    display: none;
    color: var(--whitecolor);
    cursor: pointer;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 5%;
    background: var(--whitecolor);
    display: flex;
    z-index: 4000;
    transition: .5s ease;
    align-items: center;
    background: rgba(0, 0, 0, 0.6);
}

.navbar a{
    position: relative;
    font-size: 1.7rem;
    color: var(--whitecolor);
    font-weight: 500;
    margin: 0 .8rem;
    transition: .5s ease;
}

.navbar{
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    text-align: center;
}

.navbar a:hover {
    color: #333;
}

.header.sticky {
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
}

.header.sticky .navbar a {
    color: var(--whitecolor);

}

.header.sticky .navbar::after {
    transition: 1s ease-out;
}

.header.sticky .navbar a.active {
    color: var(--maincolor);
    
}

.header.sticky .navbar a::before {
    opacity: .7;
    background: var(--maincolor);
}

.navbar a.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 0.2rem;
    background-color: var(--whitecolor);
}

@media (max-width:1250px){
    .navbar a{
        
        font-size: 1.5rem;
        
    }
    
}

@media (max-width:900px){
    .navbar a{
        
        font-size: 1.4rem;
        
    }
    
}

@media (max-width:840px){
    .navbar a{
        
        font-size: 1.3rem;
        
    }
    
}



@media (max-width:800px) {
    #menu-icon {
        display: flex;
        
    }

    .navbar{
        position: absolute;
        top: 100%;
        left: 50%;
        width: 100%;
        padding: 1rem 3%;
        background: var(--bgcolor);
        border-top: .1rem solid rgba(0, 0, 0, .2);
        box-shadow: 0 .5rem 1rem rgba(0, 0, 0, .1);
        display: none;
        
    }

    
    .navbar.active{
        display: block;
        
    }

    .navbar a{
        display: block;
        font-size: 2rem;
        margin: 3rem 0;
        color: var(--textcolor);
        
    }

    .navbar a.active{
        color: var(--maincolor);
    }
}