@import url("colores.css");


.header {
    background: var(--azulfoset);
    width: 100%;
    position: fixed;
    z-index: 999;
    top: 0;
    left: 0;
    width: 100%;
    display: block;
    justify-content: center;
    align-items: center;
    transition: 0.5s ease;
    margin-bottom: 3rem;
    box-shadow: rgba(0, 0, 0, 0.35) 0px -50px 36px -28px inset;
}

.navbar {
    display: flex;
    margin: 0;
    position: relative;
}

.navbar ul{
    position: relative;
    left: 50%;

    transform: translate(-50%);
    list-style: none;
    overflow: hidden; 
    
}

.navbar ul li {
    
    float: left;
    font-weight: 400;
    margin-left: 0;
    padding-left: .5rem;
    padding-right: .5rem;
}

.navbar ul li a {
    font-size: 2rem;
    font-weight: 500;
    display: flex; 
    padding: 2rem;
    color: var(--whitecolor);
    text-decoration: none;
    transition: .9s ease;
    -webkit-transition:all 500ms ease;
	-o-transition:all 500ms ease;
}



.navbar ul li:hover{
    background:#E68FAC;
}

.header.sticky {
    background: var(--azulfoset);
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    margin-left: 3%;
    margin-top: 3rem;
    width: 95%;
    border-radius: 2rem;
    align-items: center;
    padding: 0;
    z-index: 999;
}

.header.sticky .navbar a {
    color: var(--whitecolor);
    padding: 1.3rem;
}

.header.sticky .navbar::after{
    transition: 1s ease-out;
}

.header.sticky .navbar ul li a.active {
    color: var(--textcolor);
    background: #E68FAC;
}

.header.sticky .navbar ul li a::before {
    opacity: .7;
}

.navbar ul li a.active::before {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    bottom: -6px;
    height: 0.2rem;
    /*background-color: var(--secondarycolor);*/
}

.navbar ul li a:hover {
    color: var(--textcolor);
}


