@import url(/styles/colores.css);


.banner-superior {
    display: flex;

}

.banner {
    display: block;
    justify-content: space-between;
    background: var(--bgcolor);
    position: relative;
    top: 7rem;
    background-image: url(/src/Empresa/norte.jpeg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
    height: 30rem;
}

.logo-container {
    cursor: default;
    float: left;
    display: flex;
}

.logo-container img {
    width: 35rem;
    height: 100%;
    border-radius: 25px;
    margin-left: 5rem;
}

.banner .info-container {
    display: flex;
    position: relative;
    padding: 0 4rem;
    align-items: center;
    left: 104.5rem;

}

.banner .info-container i {
    font-size: 8rem;
    color: var(--textcolor);
}

.banner .texto-container {
    margin-left: 1rem;
}

.banner .texto-container h3 {
    font-size: 1.8rem;
    font-weight: 500;
    color: var(--textcolor);
}

.banner-marcas {
    margin-top: 0;
    height: auto;
    width: 100%;
}

.item-marcas {
    display: inline-flex;
    margin-top: 3rem;
    width: 100%;
    max-width: 100%;
    height: auto;
    justify-content: space-between;
    align-items: center;
    background: var(--whitecolor);
    border-radius: 3.5rem;
    bottom: -7rem;
    position: relative;
}

.item-marcas .marca img {
    width: 22rem;
    padding: 0 3rem;
    justify-content: center;
    transition: .5s ease;

}

.item-marcas .marca img:hover {
    transform: scale(1.1);
}

.lema-container {
    margin-top: 2rem;
    max-width: 10rem;
}

.lema-container img {
    width: 35rem;
    display: none;
}

.contenido {
    padding: 0;

    position: relative;
    height: 25rem;
    top: 7rem;
    width: 100%;
    margin: 0;
    position: relative;
}

.top-container {
    position: relative;

    height: auto;
    width: 100%;
    margin: 0;
    display: flex;
    overflow: hidden;
}

.top-container .top-box {

    height: auto;
    display: flex;
    width: 100%;

}

.top-box .top-producto {

    position: relative;
    width: 100%;
}

/*Banner de TOP 100*/
.top-producto .responsive-banner {
    margin: 8rem auto;
    width: 100%;
    min-width: 50rem;
    max-width: 100%;
    position: relative;
    height: auto;
    min-height: 55rem;
    max-height: 100%;

    overflow: hidden;
    background-image: linear-gradient(to bottom right, #ee7028, #fa620a);
    background-repeat: no-repeat;
    box-shadow: 0 .8rem .7rem var(--shadow-color);
    display: flex;
}

.responsive-banner img {

    z-index: 100;
    width: 83rem;
    object-fit: cover;
    position: relative;
    right: -25%;
}

.responsive-banner .container-envelope,
.responsive-banner-2 .container-envelope {
    padding: 3.5rem 1.5rem;
    color: #111;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
}

.responsive-banner .col-xs-12,
.responsive-banner-2 .col-xs-12 {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    left: 40%;
    z-index: 99;
    border-radius: 3rem;
    padding: 1.2rem 1.8rem;
    background-color: rgba(0, 0, 0, 0.1);
}


span::after,
span::before {
    content: "";
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.responsive-banner .circle-a::before,
.responsive-banner-2 .circle-a::before {
    width: 80rem;
    height: 80rem;
    top: -7.5%;
    left: 76.5%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 80;
}

.responsive-banner .circle-a::after,
.responsive-banner-2 .circle-a::after {
    top: 50%;
    right: 55%;
    width: 25rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.responsive-banner .circle-b::before,
.responsive-banner-2 .circle-b::before {
    top: -21%;
    left: -10%;
    background-color: rgba(0, 0, 0, 0.2);
    width: 40rem;
    height: 40rem;
}

.responsive-banner .circle-b:after,
.responsive-banner-2 .circle-b:after {
    width: 35rem;
    height: 35rem;
    top: 10%;
    left: 15%;
    background-color: rgba(0, 0, 0, 0.15);
}

.responsive-banner .circle-c::before,
.responsive-banner-2 .circle-c::before {
    width: 85rem;
    height: 85rem;
    top: -30%;
    left: 85%;
    background: var(--whitecolor);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 90;

}

.responsive-banner .circle-c::after,
.responsive-banner-2 .circle-c::after {
    background: rgba(0, 0, 0, 0.15);
    top: 60%;
    left: 1%;
    width: 40rem;
    height: 40rem;
}

.responsive-banner .col-xs-12 p,
.responsive-banner-2 .col-xs-12 p {
    clear: both;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.15;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: var(--whitecolor);
    position: relative;
    word-wrap: break-word;
    font-size: 2.3rem;

    margin-bottom: 2.2rem;
}

.responsive-banner a.more-link,
.responsive-banner-2 a.more-link {
    background-color: rgba(255, 255, 255, 0.35);
    font-size: 2rem;
    display: inline-block;
    padding: 12px 18px;
    color: var(--textcolor);
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    border: none !important;
    position: relative;
    border-radius: 3rem;
    -webkit-transition: .1s all ease-in-out;
    -moz-transition: .1s all ease-in-out;
    -o-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
}

.responsive-banner a.more-link:hover,
.responsive-banner-2 a.more-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*Banner de porductos nuevos*/

.top-producto .responsive-banner-2 {
    margin: 8rem auto;
    width: 100%;
    min-width: 50rem;
    max-width: 100%;
    position: relative;
    height: auto;
    min-height: 50rem;
    max-height: 55rem;

    overflow: hidden;
    background-image: linear-gradient(to bottom left, #FFCD00, #b38116);
    background-repeat: no-repeat;
    box-shadow: 0 .8rem .7rem var(--shadow-color);
    display: flex;
}

.responsive-banner-2 img {
    object-fit: cover;
    z-index: 100;
    width: 85rem;
    position: relative;
    right: -32%;
}

/*Banner de productos en descuento o liquidación*/
.top-producto .responsive-banner-3 {
    margin: 8rem auto;
    width: 100%;
    min-width: 50rem;
    max-width: 100%;
    position: relative;
    height: auto;
    min-height: 50rem;
    max-height: 55rem;

    overflow: hidden;
    background-image: linear-gradient(to bottom left, #FF005A, #8a123c);
    background-size: cover;
    background-repeat: no-repeat;
    box-shadow: 0 .8rem .7rem var(--shadow-color);
    display: flex;
}

.responsive-banner-3 img {
    object-fit: contain;
    z-index: 100;
    width: 85rem;
    position: relative;
    left: -10%;

}

.responsive-banner-3 .image-2 {
    width: 90rem;
    left: -15%;
    position: relative;
    object-fit: contain;
}


.responsive-banner-3 .circle-a::before {
    width: 80rem;
    height: 80rem;
    top: -7.5%;
    left: 76.5%;
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 80;
}


.responsive-banner-3 .circle-a::after {
    top: 50%;
    right: 55%;
    width: 25rem;
    height: 25rem;
    background-color: rgba(0, 0, 0, 0.3);
}


.responsive-banner-3 .circle-b::before {
    top: -21%;
    left: -10%;
    background-color: rgba(0, 0, 0, 0.4);
    width: 40rem;
    height: 40rem;
}


.responsive-banner-3 .circle-b:after {
    width: 35rem;
    height: 35rem;
    top: 10%;
    left: 20%;
    background-color: rgba(0, 0, 0, 0.4);
}


.responsive-banner-3 .circle-c::before {
    width: 85rem;
    height: 85rem;
    top: -30%;
    left: 85%;
    background: var(--whitecolor);
    -webkit-transform: translate(-50%, 0);
    -ms-transform: translate(-50%, 0);
    transform: translate(-50%, 0);
    z-index: 90;

}

.responsive-banner-3 .circle-c::after {
    background: rgba(0, 0, 0, 0.5);
    top: 60%;
    left: 1%;
    width: 40rem;
    height: 40rem;
}

.responsive-banner-3 .col-xs-12 {
    position: relative;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 100%;
    -ms-flex: 0 0 100%;
    flex: 0 0 100%;
    max-width: 100%;
    width: 40rem;
    -webkit-align-self: center;
    -ms-flex-item-align: center;
    align-self: center;
    text-align: center;
    right: 130%;
    top: 35%;
    z-index: 101;
    border-radius: 3rem;
    padding: 1.2rem 1.8rem;
    background-color: rgba(0, 0, 0, 0.1);
}

.responsive-banner-3 .col-xs-12 p {
    clear: both;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.15;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: var(--whitecolor);
    position: relative;
    word-wrap: break-word;
    font-size: 2.3rem;

    margin-bottom: 2.2rem;
}

.responsive-banner-3 a.more-link {
    background-color: rgba(255, 255, 255, 0.35);
    font-size: 2rem;
    display: inline-block;
    padding: 12px 18px;
    color: var(--textcolor);
    text-decoration: none;
    line-height: 1.5;
    text-align: center;
    border: none !important;
    position: relative;
    border-radius: 3rem;
    -webkit-transition: .1s all ease-in-out;
    -moz-transition: .1s all ease-in-out;
    -o-transition: .1s all ease-in-out;
    transition: .1s all ease-in-out;
}

.responsive-banner-3 a.more-link:hover {
    background-color: rgba(255, 255, 255, 0.5);
}

/*Galeria de fotos*/

.galeria-container h1 {
    font-size: 2.5rem;
    margin-bottom: 8rem;
    margin-top: 5rem;
    text-align: center;
}

.galeria-container .galeria {
    display: flex;
    overflow: hidden;
    height: 50vw;
    background: var(--textcolor);

}

.galeria:hover img {
    opacity: 0.5;
}

.galeria img {
    max-width: 100%;
    width: 30rem;
    vertical-align: middle;
    border: .2rem solid var(--textcolor);
    box-sizing: border-box;
    transition: opacity .2s;

}

.galeria img:hover {
    opacity: 1;
    transform: scale(1.0);
    transition: .5s ease;
}

.galeria .column {
    animation: var(--animation, none) 35s infinite linear;
}

.galeria .column:hover {
    animation-play-state: paused;
}

.galeria .column:nth-of-type(odd) {
    align-self: flex-end;
    --direction: 50%;
}

@keyframes slide {
    to {
        transform: translateY(var(--direction, -50%))
    }
}

/*+++++++++++++++++++banner de promociones+++++++++++++++++++++++++++++++*/

.promocion-mes {
    padding: 0;
    margin: 0;
    position: relative;
    top: 1rem;
    width: 100%;
}

.promocion-mes .promocion-container {

    padding: 1.5rem 0;
    margin: 5rem;
}

.promocion-container h1{
    text-align: center;
    margin-bottom: 8rem;
}

.promocion-contenido {
    margin-top: 1.5rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    padding: 8rem;
    max-height: 80rem;
    max-width: 65%;
    overflow: hidden;
    border-radius: 1rem;
    background-image: linear-gradient(to bottom, #eb68ad, #ea58a1, #e84594, #e72e86, #e40078);
}

.promocion-container .promocion-box {
    background: #f797ca;
    max-height: 50rem;
    max-width: 100%;
    display: flex;
    position: relative;
    overflow: hidden;
    height: 70rem;
    opacity: 1;
    z-index: 110;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
    border-radius: 2rem;
}

.img-container {

    position: absolute;
    width: 80rem;
    height: 80rem;
    right: -45%;
    bottom: -15%;
    border-radius: 50%;
    overflow: hidden;
    object-fit: cover;
}

.img-container img {
    object-fit: contain;
    z-index: 90;
    width: 68rem;
    left: -25%;
    top: 10%;
    position: relative;

}

.promocion-box .circulo-1,
.promocion-box .circulo-2,
.promocion-contenido .circulo-3,
.promocion-contenido .circulo-4 {
    position: absolute;
    display: block;
    border-radius: 50%;
    width: 10rem;
    height: 10rem;
}

.promocion-box .circulo-1 {
    background: var(--alternativecolor);
    opacity: 0.1;
    width: 80rem;
    height: 80rem;
    right: -45%;
    bottom: -15%;
    z-index: 101;
}

.promocion-box .circulo-2 {
    background-color: #f797ca;
    width: 45rem;
    height: 45rem;
    right: -30%;
    bottom: 38%;
    z-index: 101;
}

.promocion-contenido .circulo-3 {
    background-color: var(--shadow-color);
    width: 75rem;
    height: 75rem;
    bottom: -40%;
    left: -30%;
    z-index: 80;
}

.promocion-contenido .circulo-3::before{
    content: "";
    background-color: #f797ca;
    width: 40rem;
    height: 40rem;
    top: 20%;
    left: 20%;
    z-index: 80;
}

.promocion-contenido .circulo-4{
    background-color: var(--shadow-color);
    width: 75rem;
    height: 75rem;
    top: -40%;
    right: -30%;
    z-index: 80;
}

.promocion-contenido .circulo-4::before{
    content: "";
    background-color: #f797ca;
    width: 40rem;
    height: 40rem;
    bottom: 20%;
    right: 20%;
    z-index: 80;
}

.promocion-contenido .container-texto{

    padding-left: 2rem;
    margin: 0;
    position: relative;
    height: 50%;
    top: 50%;
    transform: translateY(-50%);

}

.container-texto h2{
    clear: both;
    text-rendering: optimizeLegibility;
    font-weight: 700;
    line-height: 1.15;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: var(--secondarycolor);
    position: relative;
    word-wrap: break-word;
    font-size: 4.3rem;
    text-align: left;
    text-transform: uppercase;
    bottom: 10%;
}

.container-texto span{
    color: #a04876;
    font-weight: 700;
}

.container-texto p{
    clear: both;
    text-rendering: optimizeLegibility;
    font-weight: 500;
    line-height: 1.4;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: var(--textcolor);
    position: relative;
    word-wrap: break-word;
    font-size: 1.5rem;
    text-align: left;
    bottom: -10%;
    
}

.container-texto h3{
    clear: both;
    text-rendering: optimizeLegibility;
    font-weight: 600;
    line-height: 1.9;
    margin: 1em 0 0.5em;
    margin: 0;
    padding: 0;
    color: var(--textcolor);
    position: relative;
    word-wrap: break-word;
    font-size: 1.5rem;
    text-align: left;
    top: 70%;
}