@import url("colores.css");

section {
    margin-top: 8rem;
    position: relative;
    padding: 2rem 7% 1rem;
}


.texts h1 {
    color: var(--orangered);
    font-size: 1.8rem;
    filter: drop-shadow( 5px 5px 5px #0f0c3d9d);
}

.texts p {
    color: var(--textcolor);
    font-size: 1.5rem;
    font-weight: 450;
}

.texts span{
    color: var(--rojo);
    font-size: 1.3rem;
}

.marcas-container {
    background-image: url(/src/Marcas/portada-banner.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    height: auto;
    border-radius: 2rem;
    display: block;
    top: 5rem;
    box-shadow: rgb(38, 57, 77) 0px 20px 30px -10px;
    padding-top: 2rem;
    padding-bottom: 8rem;
    
}

.marcas-container .marcas-box:nth-child(1) {
    display: grid;
    grid-template-columns: 22% 22% 22% 22%;
    justify-content: center;
    gap: 2rem;
    width: 100%;
    position: relative;
}

.marcas-box:nth-child(2) {
    position: relative;
    margin-top: 1rem;
    display: grid;
    grid-template-columns: 22% 22% 22%;
    justify-content: center;
    gap: 2rem;
    width: 100%;
}

.marcas-box .marcas {
    position: relative;
    background: #0000006e;
    height: 25rem;
    border-radius: 2rem;
    border: .3rem solid var(--plata);
    text-align: center;
}

.marcas-box .marcas a img {
    top: 1rem;
    width: 95%;
    height: 40%;
    padding: 5px;
    transition: .3s ease;
    background: var(--whitecolor);
    border-radius: 2rem;
    padding: 3%;
    position: relative;
    opacity: 1;
}

.marcas-box .marcas p {
    top: 30%;
    transform: translateY(-50%);
    position: relative;
    font-size: 2em;
    font-weight: 500;
    color: var(--whitecolor);
    cursor: pointer;
}

.section-truper {
    background-image: url("/src/Marcas/TRUPER_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.section-pretul {
    background-image: url("/src/Marcas/TRUPER_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.section-klintek {
    background-image: url("/src/Marcas/KLINTEK_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.section-foset {
    background-image: url("/src/Marcas/FOSET_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.section-hermex {
    background-image: url("/src/Marcas/HRMEX_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.section-volteck {
    background-image: url("/src/Marcas/VOLTECK_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

.section-fiero {
    background-image: url("/src/Marcas/FIERO_portada.jpg");
    background-position: center;
    background-size: cover;
    display: none;
}

/*Responsive productos Truper*/

@media (max-width:1670px) {

    .marcas-box .marcas p {
        top: 30%;
        transform: translateY(-50%);
        position: relative;
        font-size: 1.8em;
        font-weight: 500;
        color: var(--whitecolor);
    }

}

@media(max-width:1350px) {
    
    .marcas-box .marcas p {
        top: 30%;
        transform: translateY(-50%);
        position: relative;
        font-size: 1.6em;
        font-weight: 500;
        color: var(--whitecolor);
    }

    .marcas-box .marcas{
        height: 22rem;
    }
}

@media(max-width:1160px) {
    

    .marcas-box .marcas p {
        top: 30%;
        transform: translateY(-50%);
        position: relative;
        font-size: 1.4em;
        font-weight: 500;
        color: var(--whitecolor);
    }

    .marcas-box .marcas{
        height: 20rem;
    }
}

@media(max-width:840px){
    .marcas-box .marcas p {
        top: 30%;
        transform: translateY(-50%);
        position: relative;
        font-size: 1.2em;
        font-weight: 450;
        color: var(--whitecolor);
    }

    .marcas-box .marcas{
        height: 15rem;
    }
}

@media(max-width:700px){
    .marcas-container .marcas-box:nth-child(1),
    .marcas-box:nth-child(2){
        position: relative;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 45% 45%;
        justify-content: center;
        gap: 2rem;
        width: 100%; 
    }

    section{
        height: auto;
        max-height: 200vh;
    }

    

    .section-indice{
        overflow: visible;
        
        height: 100rem;
    }
    
}

@media(max-width:600px){
    .section-truper {
        background-image: url("/src/Marcas/TRUPER_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
        margin: 0;
    }
    
    .section-pretul {
        background-image: url("/src/Marcas/TRUPER_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
    }
    
    .section-klintek {
        background-image: url("/src/Marcas/KLINTEK_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
    }
    
    .section-foset {
        background-image: url("/src/Marcas/FOSET_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
    }
    
    .section-hermex {
        background-image: url("/src/Marcas/HRMEX_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
    }
    
    .section-volteck {
        background-image: url("/src/Marcas/VOLTECK_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
    }
    
    .section-fiero {
        background-image: url("/src/Marcas/FIERO_portada_vertical.jpg");
        background-position: center;
        background-size: cover;
        display: none;
    }
}

@media(max-width:375px){


    .marcas-container .marcas-box:nth-child(1),
    .marcas-box:nth-child(2){
        position: relative;
        margin-top: 1rem;
        display: grid;
        grid-template-columns: 95%;
        justify-content: center;
        gap: 2rem;
        width: 100%; 
    }
}