@import url("colores.css");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Moulpali&family=Oswald:wght@200..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Teko:wght@300..700&display=swap');


.nosotros{
    padding: 0;
} 
.nosotros-container .banner-info{
    margin: 0;
    padding: 0;
    display: flex;
    position: relative;
    width: 100%;
    background-color: var(--azulvolteck);
    justify-content: space-between;
    overflow: hidden;
}

.nosotros-container h1{
    font-size: 3rem;
    color: var(--azulvolteck);
    margin-bottom: 1.5rem;
}

.nosotros-container span{
    -webkit-text-stroke: .1rem var(--rojo);
    -webkit-text-fill-color: var(--rojo2);
    font-size: 3.5rem;
    text-transform: uppercase;
}

.img-container{
    position: relative;
}

.banner-info img{

    position: relative;
    object-fit: cover;
    height: 100%;
}

.banner-info .info-container{
    z-index: 100;
    height: 100%;
    position: relative;
    width: 40%;
    left: 5%;
    top: 8rem;
}
.nosotros .info-container h2{
    font-size: 7rem;
    font-weight: 700;
    line-height: 5rem;
    color: var(--secondarycolor);
    -webkit-text-stroke: 1px var(--whitecolor);
    
}

.nosotros .info-container span{

    color: var(--rojo);
    -webkit-text-stroke: 1px var(--whitecolor);
    left: 20rem;
    font-size: 8rem;
    position: relative;
    font-family: "Dancing Script", cursive;
    text-transform: lowercase;
}

.banner-info .fig-1{

    position: absolute;
    width: 45rem;
    height: 45rem;
    background: var(--rojo2);
    transform: rotate(45deg);
    left: -8.5%;
    top: -5%;
    z-index: 95;
}

.banner-info .fig-1::after{
    position: absolute;
    content: "";
    width: 45rem;
    height: 45rem;
    background: var(--rojo);
    left: -8.5%;
    top: -9%;
    z-index: 90;
}

.banner-info .fig-1::before{
    position: absolute;
    content: "";
    width: 45rem;
    height: 45rem;
    background: var(--secondarycolor);
    left: -8.5%;
    bottom: -9%;
    z-index: 110;
}

.nosotros .descripcion-container{

    width: 80%;
    padding: 2rem;
    left: 50%;
    transform: translateX(-50%);
    position: relative;
    text-align: justify;
} 

.descripcion-container p{
    font-size: 1.8rem;
    color: var(--textcolor);
    
}

.descripcion-container span{
    color: var(--rojo);
}
