@import url("colores.css");



.section-top_products {
    padding: 0;
    overflow: hidden;
    
}

.section-top_products h1 {
    margin-top: 7%;
    text-align: center;
    font-size: 2rem;
    margin-bottom: 6rem;
    font-weight: 600;
    color: var(--textcolor);
}

.producto-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 8rem;
    column-gap: 1rem;
    transition: opacity .2s;

}


.producto-container .producto {
    display: flex;
    height: 35rem;
    overflow: hidden;
    width: 100%;
    background: var(--shadow-color);
    border-radius: 3rem;

}

.producto-container .img-producto:hover {
    width: 35%;
    transition-duration: .5s;
    transition-delay: .1s;
    left: 4%;
    
    
}

.producto-container .img-producto:hover .feature-container {
    display: flex;
    
    transition-property: opacity;
    transition-duration: .8s;
    transition-delay: .8s;
    
}

.producto-container .img-producto:hover .detalle-container {
    display: flex;
    transition-duration: 1s;
    transition-delay: .2s;
    flex-wrap: wrap;
}



.producto-container .img-producto:hover .descripcion-container {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    transition-property: opacity;
    transition: .3s ease;
    
    
}

.producto .img-producto {
    position: relative;
    width: 25%;
    height: auto;
    left: 3%;
    transform: translateX(-10%);
    transition: .3s ease-out;
    align-content: center;
    margin: 0;

}

.img-producto img {
    width: 100%;
    border-radius: 3rem;
    border: .2rem solid var(--textcolor);
}

.producto .descripcion-container {
    position: relative;
    display: block;
    width: 50%;
    left: 38%;
    transform: translateX(-50%);
    transition: .5s ease;
    
}

.descripcion-container .tittle-container {
    display: block;
    position: relative;
    top: 5%;
    transition: .3s ease-in;
    width: 100%;
    text-align: center;
    height: auto;
}

.tittle-container h1 {
    font-weight: 600;
    font-size: auto;
}

.tittle-container img {
    width: 20%;
    position: relative;
    transition: .5s ease-out;
}

.descripcion-container .feature-container {
    display: block;
    position: absolute;
    transition: .5s ease-out;
    text-align: center;
    height: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 2rem;
}

.feature-container ul {
    list-style: inside;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.feature-container ul li {
    font-size: 1.8rem;
    font-weight: 500;
    
    letter-spacing: normal;
}

.descripcion-container .detalle-container {
    position: absolute;
    justify-content: center;
    bottom: 0;
    transition: .7s ease-in;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}


.detalle-container h2 {
    font-size: 1.8rem;
    font-weight: 600;
    height: auto;
    padding-top: .8rem;
}

.detalle-container .btn {

    position: relative;
    border: solid .1rem var(--textcolor);
    border-radius: 2rem;
    padding: .5rem;
    letter-spacing: normal;
    background: transparent;
    margin: 0;
    position: relative;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color);
    bottom: .3rem;
    left: 1rem;
}


.btn:hover {
    background: var(--textcolor);
    color: var(--whitecolor);
}

.producto.bgtruper{
    background-image: url('/src/Marcas/TRUPER.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bghermex{
    background-image: url('/src/Marcas/HERMEX.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bgpretul{
    background-image: url('/src/Marcas/PRETUL.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bgvolteck{
    background-image: url('/src/Marcas/VOLTECK.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bgfoset{
    background-image: url('/src/Marcas/FOSET.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Barra de paginación*/

.paginacion {

    position: relative;
	margin:20px 0;
    top: 10rem;
}

.paginacion ul {
	list-style:none;
	text-align: center;
}

.paginacion ul li {
	display:inline-block;
	margin-right:10px;
}

.paginacion ul li a {
	display:block;
	padding:10px 20px;
	color:#fff;
	background:var(--azulrugo);
	text-decoration: none;
    font-size: 2rem;
    border-radius: 50%;
}

.paginacion ul li a:hover {
	background:var(--azulvolteck);
}

.paginacion ul li .active {
	background:var(--azulvolteck);
	font-weight:bold;
}

/*Diseño responsivo de TOP de productos*/

@media (max-width :1660px) {
    .producto-container .producto:hover .tittle-container {
        transition-delay: 1s;
        transition-duration: .5s;
        height: 35%;
    }
    
    
}

@media (max-width:1555px){

    .feature-container ul li {
        font-size: 1.6rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.8rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.8rem;
    }
}

@media (max-width:1366px){
    

    .feature-container ul li {
        font-size: 1.4rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.6rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.6rem;
    }
}

@media(max-width:1200px){
    

    .feature-container ul li {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.5rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.5rem;
    }
}

@media (max-width:1160px){
    .feature-container ul li {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.4rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.4rem;
    }
}

@media(max-width:1050px){
    .feature-container ul li {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.3rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.3rem;
    }
}

@media (max-width:900px){
    .producto-container {
        left: 50%;
        transform: translateX(-49%);
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 98%;
        
        transition: opacity .2s;
    }

    .producto .img-producto {
        position: relative;
        width: 15%;
        left: 4%;
        transform: translateX(-10%);
        transition: .3s ease-out;
    }
    

    .section-top_products h1{
        font-size: 1.8rem;
    }    

    .tittle-container h1{
        font-size: 1.4rem;
    }

    .feature-container ul li {
        font-size: 1.3rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.4rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.4rem;
    }
}

@media (max-width:800px){
    .section-top_products {
        padding: 0;
        overflow: hidden;
        top: 3rem;
        
        position: relative;
    }
}

@media(max-width:600px){

    .section-top_products {
        padding: 0;
        overflow: hidden;
        top: 4rem;
        
        position: relative;
    }

    .section-top_products h1{
        font-size: 1.8rem;
    }    

    .tittle-container h1{
        font-size: 1.4rem;
    }

    .feature-container ul li {
        font-size: 1.1rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.2rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1.2rem;
    }
}

@media(max-width:500px){

    .producto .img-producto {
        position: relative;
        width: 18%;
        left: 4%;
        transform: translateX(-10%);
        transition: .3s ease-out;
    }

    .tittle-container h1{
        font-size: 1.2rem;
    }

    .feature-container ul li {
        font-size: .9rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1rem;
    }
}

@media(max-width:425px){

    .section-top_products {
        padding: 0;
        overflow: hidden;
        top: 5rem;
        
        position: relative;
    }

    .producto-container .producto:hover .feature-container {
        display: none;
    }

    .producto-container .producto:hover .tittle-container {
        transition-delay: 1s;
        transition-duration: .5s;
        height: 65%;
    }

    .producto-container .producto:hover .tittle-container img {
        transition-delay: 1s;
        position: absolute;
        transition: .5s ease-out;
        left: 50%;
        top: 80%;
        transform: translate(-50%, -50%);
    }
}

@media (max-width:350px){


    .producto .img-producto {
        position: relative;
        width: 20%;
        left: 4%;
        transform: translateX(-10%);
        transition: .3s ease-out;
    }

    .producto-container .producto:hover{
        border-radius: 1rem;
    }

    .detalle-container h2 {
        font-size: 1rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn{
        font-size: 1rem;
    }
}

