@import url("colores.css");

body{
    background-image: linear-gradient(to top, #080531, #0d204f, #13386f, #115290, #006db2);
}

.section-top_products {
    padding: 0;
    overflow: hidden;
    
}

.section-top_products h1 {
    filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    margin-top: 7%;
    text-align: center;
    font-size: 2.3rem;
    margin-bottom: 6rem;
    font-weight: 600;
    color: var(--textcolor);
    padding: .5rem ;
    background: var(--whitecolor);
    width: 90%;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 2rem;
    position: relative;
}

.producto-container {
    position: relative;
    width: 100%;
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: 50% 50%;
    row-gap: 8rem;
    column-gap: 1rem;
    transition: opacity .2s;

}


.producto-container .producto {
    display: flex;
    height: 35rem;
    overflow: hidden;
    width: 100%;
    background: rgba(250, 248, 248, 0.349);
    border-radius: 3rem;
}

.producto-container .img-producto:hover {
    width: 35%;
    transition-duration: .5s;
    transition-delay: .1s;
    left: 4%;
}

.producto-container .img-producto:hover .feature-container {
    display: flex;
    transition-property: opacity;
    transition-duration: .8s;
    transition-delay: .8s;

}

.producto-container .img-producto:hover .detalle-container {
    display: flex;
    transition-duration: 1s;
    transition-delay: .2s;
    flex-wrap: wrap;
}



.producto-container .img-producto:hover .descripcion-container {
    width: 60%;
    left: 50%;
    transform: translateX(-50%);
    transition-property: opacity;
    transition: .3s ease;


}

.producto .img-producto {
    position: relative;
    width: 25%;
    height: auto;
    left: 3%;
    transform: translateX(-10%);
    transition: .3s ease-out;
    align-content: center;
    margin: 0;

}

.img-producto img {
    width: 100%;
    border-radius: 3rem;
    border: .2rem solid var(--textcolor);
}

.producto .descripcion-container {
    position: relative;
    display: block;
    width: 50%;
    left: 38%;
    transform: translateX(-50%);
    transition: .5s ease;

}

.descripcion-container .tittle-container {
    display: block;
    position: relative;
    top: 2%;
    transition: .3s ease-in;
    width: 100%;
    text-align: center;
    height: auto;
}

.tittle-container h1 {
    font-weight: 600;
    font-size: 1.9rem;
    filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    background: var(--whitecolor);
    border-radius: 1rem;
}

.tittle-container img {
    width: 20%;
    position: relative;
    transition: .5s ease-out;
}

.descripcion-container .feature-container {
    top: 50%;
    transform: translateY(-50%);
    display: block;
    position: absolute;
    transition: .5s ease-out;
    text-align: center;
    height: auto;
    width: 100%;
    background: rgba(255, 255, 255, 0.63);
    border-radius: 2rem;
    padding: .5rem;
}

.feature-container ul {
    list-style: inside;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
}


.feature-container ul li {
    font-size: 1.8rem;
    font-weight: 500;
    letter-spacing: normal;
}

.descripcion-container .detalle-container {
    position: absolute;
    justify-content: center;
    bottom: 0;
    transition: .7s ease-in;
    width: 100%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
}


.detalle-container h2 {
    font-size: 1.8rem;
    font-weight: 600;
    height: auto;
    color: var(--whitecolor);
    padding-top: .8rem;
    filter: drop-shadow(2px 2px 2px #0f0c3d9d);
}

.detalle-container .btn {

    position: relative;
    border: solid .1rem var(--textcolor);
    border-radius: 2rem;
    padding: .5rem;
    letter-spacing: normal;
    background: var(--whitecolor);
    margin: 0;
    position: relative;
    font-weight: 500;
    font-size: 1.8rem;
    color: var(--text-color);
    bottom: .3rem;
    left: 1rem;
}


.btn:hover {
    background: var(--textcolor);
    color: var(--whitecolor);
    border: solid .1rem var(--whitecolor);

}

.producto.bgtruper {
    background-image: url('/src/Marcas/TRUPER.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bghermex {
    background-image: url('/src/Marcas/HERMEX.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bgpretul {
    background-image: url('/src/Marcas/PRETUL.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bgvolteck {
    background-image: url('/src/Marcas/VOLTECK.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

.producto.bgfoset {
    background-image: url('/src/Marcas/FOSET.svg');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
}

/*Barra de paginación*/

.paginacion {

    position: relative;
    margin: 20px 0;
    top: 10rem;
}

.paginacion ul {
    list-style: none;
    text-align: center;
}

.paginacion ul li {
    display: inline-block;
    margin-right: 10px;
}

.paginacion ul li a {
    display: block;
    padding: 10px 20px;
    color: #fff;
    background: var(--azulrugo);
    text-decoration: none;
    font-size: 2rem;
    border-radius: 50%;
}

.paginacion ul li a:hover {
    background: var(--azulvolteck);
}

.paginacion ul li .active {
    background: var(--azulvolteck);
    font-weight: bold;
}

/*Diseño responsivo de TOP de productos*/

@media (max-width :1660px) {
    .producto-container .producto {
        height: 35rem;
    }

}

@media (max-width:1555px) {



    .producto-container .producto {
        height: 30rem;
    }

    .feature-container ul li {
        font-size: 1.5rem;
        font-weight: 500;
    }

    .tittle-container h1 {
        font-weight: 600;
        font-size: 1.7rem;
        filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    }

    .detalle-container h2 {
        font-size: 1.6rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: 1.6rem;
    }
}

@media (max-width:1366px) {

    .producto-container {
        row-gap: 4rem;
        column-gap: 1rem;

    }

    .producto-container .producto {
        height: 27rem;
    }

    .tittle-container h1 {
        font-weight: 600;
        font-size: 1.4rem;
        filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    }

    .feature-container ul li {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.4rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: 1.4rem;
    }
}

@media(max-width:1200px) {
    .producto-container {
        row-gap: 4rem;
        column-gap: 1rem;
    }

    .producto-container .producto {
        height: 25rem;
    }

    .tittle-container h1 {
        font-weight: 600;
        font-size: 1.3rem;
        filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    }

    .feature-container ul li {
        font-size: 1rem;
        font-weight: 600;
    }

    .detalle-container h2 {
        font-size: 1.1rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: 1.1rem;
    }
}

@media (max-width:1160px) {

    .producto-container {
        row-gap: 4rem;
        column-gap: 1rem;
    }

    .producto-container .producto {
        height: 23rem;
    }

    .img-producto img {

        border: .1rem solid var(--textcolor);
    }

    .tittle-container h1 {
        font-weight: 700;
        font-size: 1.1rem;
        filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    }

    .feature-container ul li {
        font-size: .9rem;
        font-weight: 600;
    }

    .detalle-container h2 {
        font-size: 1rem;
    }

    .detalle-container .btn {
        font-size: 1rem;
    }
}

@media(max-width:1050px) {
    .producto-container {
        row-gap: 3rem;
        column-gap: 1rem;
    }

    .producto-container .producto {
        height: 21rem;
    }

    .tittle-container h1 {
        font-weight: 700;
        font-size: 1.1rem;
        filter: drop-shadow(5px 5px 5px #0f0c3d9d);
    }

    .feature-container ul li {
        font-size: .9rem;
        font-weight: 600;
    }

    .detalle-container h2 {
        font-size: 1rem;
    }

    .detalle-container .btn {
        font-size: 1rem;
    }
}

@media (max-width:950px) {
    .producto-container {
        row-gap: 2rem;
        column-gap: 1rem;
    }

    .producto-container .producto {
        height: 19rem;
    }
}

@media (max-width:900px) {
    .producto-container {
        left: 50%;
        transform: translateX(-49%);
        position: relative;
        width: 100%;
        display: grid;
        grid-template-columns: 98%;
        transition: opacity .2s;
    }

    .producto-container .producto {
        height: 21rem;
    }

    .producto .img-producto {
        position: relative;
        width: 19%;
        transition: .2s ease-out;
    }

    .producto-container .img-producto:hover {
        width: 23%;
        transition-duration: .2s;
        transition-delay: .1s;
        left: 3%;
    }


    .section-top_products h1 {
        font-size: 2rem;
    }

    .tittle-container h1 {
        background: var(--whitecolor);
        font-size: 1.6rem;
        border-radius: 1rem;
    }

    .feature-container ul li {
        font-size: 1.2rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.4rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: 1.4rem;
    }
}

@media (max-width:840px) {
    .descripcion-container .feature-container {
        top: 60%;
    }
}

@media (max-width:800px) {
    .section-top_products {
        padding: 0;
        overflow: hidden;
        top: 3rem;
        position: relative;
    }

}

@media (max-width:720px) {

    .producto-container .img-producto:hover {
        width: 25%;
    }

    .section-top_products h1 {
        font-size: 2rem;
    }

    .tittle-container h1 {
        background: var(--whitecolor);
        font-size: 1.4rem;
        border-radius: 1rem;
    }

    .feature-container ul li {
        font-size: 1rem;
        font-weight: 600;
    }

    .detalle-container h2 {
        font-size: 1.2rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: 1.2rem;
    }
}

@media(max-width:600px) {

    .section-top_products {
        padding: 0;
        overflow: hidden;
        top: 4rem;
        position: relative;
    }

    .producto-container .producto {
        height: 20rem;
    }

    .producto .img-producto {
        width: 21%;
    }

    .producto-container .img-producto:hover {
        width: 28%;
    }

    .section-top_products h1 {
        margin-top: 10%;
        font-size: 1.8rem;
    }

    .tittle-container h1 {
        font-size: 1.2rem;
    }

    .feature-container ul li {
        font-size: 1rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: 1.1rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: 1.1rem;
    }
}

@media(max-width:500px) {

    .producto .img-producto {
        width: 25%;
    }

    .producto-container .img-producto:hover {
        width: 30%;
    }

    .producto-container .producto {
        height: 17rem;
    }

    .feature-container ul li {
        font-size: .9rem;
        font-weight: 500;
    }

    .detalle-container h2 {
        font-size: .9rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: .9rem;
    }
}

@media(max-width:425px) {

    .section-top_products {

        top: 5rem;

    }

    .producto-container .producto {
        height: 14rem;
    }

    .producto .img-producto {
        width: 27%;
    }

    .producto-container .img-producto:hover {
        width: 32%;
    }

    .feature-container ul li {
        font-size: .65rem;
        font-weight: 500;
    }

    .tittle-container h1 {
        font-size: 1rem;
    }

    .detalle-container h2 {
        font-size: .7rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: .7rem;
    }


}

@media (max-width:350px) {

    .producto-container .producto {
        height: 12rem;
    }

    .producto .img-producto {
        position: relative;
        border-radius: .5rem;

        transform: translateX(-10%);
        transition: .3s ease-out;
    }



    .feature-container ul li {
        font-size: .5rem;
        font-weight: 500;
    }

    .tittle-container h1 {
        font-size: .8rem;
    }

    .detalle-container h2 {
        font-size: .7rem;
        font-weight: 600;
        height: auto;
        padding-top: .5rem;
    }

    .detalle-container .btn {
        font-size: .5rem;
    }
}