@import url(colores.css);

.modal-contenido {

    width: 100%;
    padding: 0;
    margin: 0;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    position: relative;
    overflow-y: visible;
}

.modal-contenido a i {
    color: var(--whitecolor);
    font-size: 6rem;
    font-weight: 800;
    transition: all .5s;
    padding: 0;
    border-radius: 50%;
    position: absolute;
    z-index: 1200;
    top: 0;
    right: 0;
    cursor: pointer;
}

.modal-contenido a i:hover{
    background: var(--whitecolor);
    color: var(--textcolor);
    transition: all .5s;
}

.modal {
    background-color: rgba(0, 0, 0, 0.9);
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: none;
    pointer-events: none;
    transition: all .5s;
    z-index: 1000;
    margin: 0;
    width: 100%;
}

.img_details-swiper {

    transition: all .5s;


    width: 90%;
    position: relative;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    margin: 0;
    
}

.img_details-box {
    overflow-y: visible;
    width: 100%;

}

.img_details-cards {
    overflow-y: visible;
    width: auto;
    padding: 0;
    
}

.img_details-cards img {
    left: 50%;
    transform: translateX(-50%);
    width: 45%;
    object-fit: contain;
    position: relative;
    z-index: 1000;
    border-radius: 3rem;
}

.img_details-swiper .swiper-button-next {
    right: 0;
    position: absolute;
    color: var(--whitecolor);
}

.img_details-swiper .swiper-button-prev {
    left: 0;
    position: absolute;
    color: var(--whitecolor);
}


/*#miModal:target,
#miModal2:target {
    opacity: 1;
    pointer-events: auto;
}
*/
.visible {
    display: block;
    pointer-events: auto;
}
/*
.invisible{
    opacity: 0;
    pointer-events: auto;
}*/


@media (max-width:1875px) {
    .img_details-cards img {
        left: 50%;
        transform: translateX(-50%);
        width: 45%;
        object-fit: contain;
        position: relative;
    }
}

@media (max-width:1250px) {
    .modal-contenido a {
        font-size: 5rem;
    }

    .img_details-cards img {
        left: 50%;
        transform: translateX(-50%);
        width: 60%;
        object-fit: contain;
        position: relative;
    }
}

@media (max-width:1024px) {
    .img_details-cards img {
        left: 50%;
        transform: translateX(-50%);
        width: 70%;
        object-fit: contain;
        position: relative;
    }
}

@media (max-width:768px) {
    .img_details-cards img {
        left: 50%;
        transform: translateX(-50%);
        width: 85%;
        object-fit: contain;
        position: relative;
    }

    .modal-contenido a i{
        font-size: 5rem;
        top: -9%;
        right: -3%;
    }

}

@media (max-width:600px) {
    .modal-contenido a i{
        font-size: 5rem;
        top: -9%;
        right: -3%;
    }

    .img_details-swiper .swiper-button-next {
        right:-2.5rem;
        position: absolute;
        color: var(--whitecolor);
    }
    
    .img_details-swiper .swiper-button-prev {
        left: -2.5rem;
        position: absolute;
        color: var(--whitecolor);
    }

    .img_details-cards img {
        width: 90%;
    }
}

@media (max-width:425px) {
    .img_details-swiper .swiper-button-next {
        right:-1.5rem;
        position: absolute;
        color: var(--whitecolor);
    }
    
    .img_details-swiper .swiper-button-prev {
        left: -1.5rem;
        position: absolute;
        color: var(--whitecolor);
    }

    .modal-contenido a i{
        font-size: 3.5rem;
    }
}